/**
      * Body CSS
      */

.obrigatorio {
    color:red;
}

.rodape {
    width: 100%;
    /* position: fixed;*/
    bottom: 0;
    color: black;
    text-align: center;
    font-size: 10px;
}
.titulo-secretaria{
    font-family: Arial;
    color: #10629e;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 0px;
}

.sub-titulo-secretaria{
    font-family: arial;
    text-transform: uppercase;
    font-weight: bold;
    color: #10629e;
    padding: 0px;

}
.mui-panel{

}

.mui-panel-border{
    /*margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 0px 2px 0px;
    padding: 15px;
    border-radius: 0px;*/
    /*font-size: 14px;*/
}

/*.mui-input {
    font-size: 14px;
    padding: 15px;
}*/

/*.mui-select{
    font-size: 14px;
}*/

/*.mui-recomendacao{
    font-weight: 400;
    font-size: 14px;
}*/

.page-header {
    padding-top: 5px;
}

.mui-appbar {
    background-color: #F7FBFF;
    border-bottom: 1px solid #E7F0F9;
    height: 80px;
}

.mui--text-title, h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #FFF;
}

html,
body {
   /* height: 100%;
    font-family: 'Roboto', sans-serif;*/
}

html,
body,
input,
textarea,
buttons {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
* Header CSS
*/
header {
    position: fixed;
    background-color: #f00;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
}

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    transition: left 0.2s;
}


#sidedrawer {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    left: -200px;
    overflow: auto;
    z-index: 2;
    background-color: #fff;
    transition: transform 0.2s;
    font-size: 12px;
}

#sidedrawer.active {
    transform: translate(200px);
}

.sidedrawer-toggle {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    margin-right: 10px;
}

.sidedrawer-toggle:hover {
    color: #fff;
    text-decoration: none;
}

/**
* Side drawer CSS
*/
#sidedrawer-brand {
    padding-left: 20px;
}

#sidedrawer ul {
    list-style: none;
}

#sidedrawer > ul {
    padding-left: 0px;
}

#sidedrawer > ul > li:first-child {
    padding-top: 15px;
}

#sidedrawer strong {
    display: block;
    padding: 15px 22px;
    cursor: pointer;
}

#sidedrawer strong:hover {
    background-color: #E0E0E0;
}

#sidedrawer strong + ul > li {
    padding: 6px 0px;
}

.drawertitle{
    color:#9F9FA7;
    font-size:20;
    margin-left: 20px;
    margin-top: 15px;
}

.dash{
    margin-top:15px;
    border-bottom: solid #E0E0E0;
    border-width: 1px;
}

header ul.mui-list--inline {
    margin-bottom: 0;
}

header a {
    color: white;
}


header table {
    width: 100%;
}


/**
* Content CSS
*/
#content-wrapper {
    min-height: 30%;

    /* sticky footer */
    box-sizing: border-box;
    margin-bottom: -100px;
    padding-bottom: 100px;
}

.drawer {
    width: 10px;
}

.logo {
    margin-left: 10px;
}

/**
* Footer CSS
*/
footer {
    box-sizing: border-box;
    height: 100px;
    background-color: #eee;
    border-top: 1px solid #e0e0e0;
    padding-top: 35px;
}

.fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
}

.fixed-action-btn.active ul {
    visibility: visible;
}

.fixed-action-btn.horizontal {
    padding: 0 0 0 15px;
}

.fixed-action-btn.horizontal ul {
    text-align: right;
    right: 64px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
    left: auto;
    width: 500px;
    /*width 100% only goes to width of button container */
}

.fixed-action-btn.horizontal ul li {
    display: inline-block;
    margin: 15px 15px 0 0;
}

.fixed-action-btn.toolbar {
    padding: 0;
    height: 56px;
}

.fixed-action-btn.toolbar.active > a i {
    opacity: 0;
}

.fixed-action-btn.toolbar ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.fixed-action-btn.toolbar ul li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: inline-block;
    margin: 0;
    height: 100%;
    -webkit-transition: none;
    transition: none;
}

.fixed-action-btn.toolbar ul li a {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    line-height: 56px;
    z-index: 1;
}

.fixed-action-btn.toolbar ul li a i {
    line-height: inherit;
}

.fixed-action-btn ul {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 64px;
    margin: 0;
    visibility: hidden;
}

.fixed-action-btn ul li {
    margin-bottom: 15px;
}

.fixed-action-btn ul a.btn-floating {
    opacity: 0;
}

.fixed-action-btn .fab-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 40px;
    height: 40px;
    background-color: #26a69a;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
}
